
@using LoginRegisterIdentity.ViewModels
@model ProductVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">

	<div class="container  ">
		<div class="row  ">

			<div class="">
				<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Product Details</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label class="fs-5" asp-for="Name">Name</label>
									<input asp-for="Name" name="Name" class="form-control" placeholder="Enter name">
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label class="fs-5" asp-for="Description">Description</label>
									<input asp-for="Description" class="form-control" placeholder="Enter Description">
									<span asp-validation-for="Description" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label class="fs-5" asp-for="Price">Price</label>
									<input asp-for="Price" class="form-control" placeholder="Enter Price">
									<span asp-validation-for="Price" class="text-danger"></span>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label class="fs-5" asp-for="StockQuantity">StockQuantity</label>
									<input asp-for="StockQuantity" class="form-control" placeholder="Enter StockQuantity">
									<span asp-validation-for="StockQuantity" class="text-danger"></span>
								</div>
							</div>
						</div>
						
						<div class="form-row form-group mt-4">
							<h2 class="col">Add Images</h2>
							<div class="col">
								<input asp-for="Images" type="file" class="form-control form-control-lg" placeholder="Images" multiple />
								<span asp-validation-for="Images" class="text-danger"></span>
							</div>
						</div>
						
						<div class="row gutters m-4">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<button type="button" id="submit" name="submit" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Products")'">Cancel</button>
									<button type="submit" id="submit" name="submit" class="btn btn-primary" asp-action="Edit">Save Changes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		footer{
			display: none;
		}
		body {
			margin: 0;
			padding-top: 0;
			padding-bottom: 0;
			color: #2e323c;
			background: #f5f6fa;
			position: relative;
			height: auto;
		}

		.container {
			padding: 0;
		}

		.account-settings .user-profile {
			margin: 0 0 1rem 0;
			padding-bottom: 1rem;
			text-align: center;
		}

			.account-settings .user-profile .user-avatar {
				margin: 0 0 1rem 0;
			}

				.account-settings .user-profile .user-avatar img {
					width: 90px;
					height: 90px;
					-webkit-border-radius: 100px;
					-moz-border-radius: 100px;
					border-radius: 100px;
				}

			.account-settings .user-profile h5.user-name {
				margin: 0 0 0.5rem 0;
			}

			.account-settings .user-profile h6.user-email {
				margin: 0;
				font-size: 0.8rem;
				font-weight: 400;
				color: #9fa8b9;
			}

		.account-settings .about {
			margin: 2rem 0 0 0;
			text-align: center;
		}

			.account-settings .about h5 {
				margin: 0 0 15px 0;
				color: #007ae1;
			}

			.account-settings .about p {
				font-size: 0.825rem;
			}

		.form-control {
			border: 1px solid #cfd1d8;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			font-size: .825rem;
			background: #ffffff;
			color: #2e323c;
		}

		.card {
			background: #ffffff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: 0;
			margin-bottom: 1rem;
		}
	</style>
</form>

<div class="album  bg-light m-5">
		@if (Model.ImagesLinks == null || !Model.ImagesLinks.Any())
			{
				<h2>There are no images added</h2>
			}
		else
		{
		<div class="container p-3">
			<h2 class="m-4">Images of your product</h2>
			<div class="row ">
				@foreach (var product in Model.ImagesLinks)
				{
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
						<img class="card-img-top" src="@product" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">

							<div class="card-body">
								<p class="card-text">nazwa</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<form method="post" action="@Url.Action("DeleteImage", "Products")">
											<input type="hidden" name="imagelink" value="@product" />
											<button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
										</form>
											

									</div>
										
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
		}
</div>
		
